#about {
  display: inline-flex;
  align-items: flex-end;
  margin: 6vh;
}

@media only screen and (max-width: 1020px) {
  #about {
    margin: 1vh;
    height: 100%;
    padding-left: 10vh;
    padding-bottom: 6vh;
  }
}
